$메인컬러: #646cff;
$제목컬러 : #E97fff;
$메인글자: #333;
$둥글기: 30px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: $메인글자;
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    // background: black;
    // color:white;
}
@mixin myFlex($gap:0, $jc:space-between){
    display: flex;
    justify-content: $jc;
    align-items: center;
    gap: $gap;
    flex-wrap: wrap;
}
.wrap {
    .content-inner{
        max-width: 1400px;
        margin: 0 auto;
    }
    header{
        line-height: 80px;
        position: fixed;
        width: 100%;
        // border-bottom: 1px solid #ddd;

        .content-inner{
            div{
                @include myFlex();
                ul{
                    @include myFlex(50px);
                    li{
                        font-size: 1.13rem;
                        font-weight: bold;
                        a{
                            // color: white;
                        }
                    }
                }
            }
        }
    }

    .index{
        height: 100vh;

        @include myFlex();
        .content-inner{
            @include myFlex(100px)
        }
    }

    .main{
        padding: 100px 0;
    }

    .skill-list{
        margin-top: 100px;
        @include myFlex(10px, start);
        li{
            width: calc(100% / 4 - 10px);
        } // 여기서 갯수와 얼마나 띄울건지 간격
    }
    footer{

    }
}